.propina-total {
  text-align: left;
}

.propina-total-label {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0px;
  text-align: left;
}

.propina-total-amount.blur {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}

.eye-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.propina-total-star {
  font-size: 30px;
  color: #FFBD00;
  margin-top: 30px; /* Ajusta este valor según necesites */
}

.propina-total-amount-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -15px; /* Ajusta el espacio entre label y monto */
}

.propina-total-amount {
  font-size: 36px;
  font-weight: bold;
  margin-right: 16px;
  margin-bottom: 0;
  text-align: left;
}

.propina-total-eye-icon {
  width: 32px;
  height: 32px;
  color: white;
}

/* ESTILOS PARA TABLET Y MOBILE (SIN CAMBIOS) */
@media (max-width: 1024px) {
  .propina-total {
    margin-top: 32px;
    text-align: left;
  }

  .propina-total-label {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0px;
    text-align: left;
  }

  .propina-total-amount.blur {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
  }

  .eye-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .propina-total-star {
    font-size: 30px;
    color: #FFBD00;
    margin-top: 30px;
  }

  .propina-total-amount-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -15px;
  }

  .propina-total-amount {
    font-size: 36px;
    font-weight: bold;
    margin-right: 16px;
    margin-bottom: 0;
    text-align: left;
  }

  .propina-total-eye-icon {
    width: 32px;
    height: 32px;
    color: white;
  }
}


@media (min-width: 1024px) {
  .propina-total-label {
    font-size: 18px;
    font-weight: 500;
    color:#6A6A6A;
    margin-bottom: 0px;
    text-align: left;
  }

  .propina-total-eye-icon {
    width: 32px;
    height: 32px;
    color:#2b1c46;
  }

  .propina-total-amount {
    font-size: 34px;
    font-weight: bold;
    margin-right: 16px;
    margin-bottom: 0;
    text-align: left;
  }
}
