.saldos-container {
    margin-bottom: 10px;
  }
  
  .saldos-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .saldos-label {
    font-size: 16px;
    color: #c4c4c4; /* Reemplazo de var(--gray-300) */
  }
  
  .saldos-amount {
    background-color: #c4c4c494; /* Reemplazo de var(--gray-300) */
    color: #ffffff; /* Reemplazo de var(--purple-dark) */
    padding: 8px 16px;
    border-radius: 9999px;
    font-weight: 400;
    font-size: 14px;

  }
  