.historial-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea todo a la izquierda */
  padding: 12px;
  padding-left: 18px;
  margin-top: 10px;
  gap: 12px; /* Espacio entre los elementos */
}

.historial-header-title {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
  color: #000000;
  flex-grow: 1; /* Ocupa el espacio disponible */
  min-width: 0; /* Evita que se desborde */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left; /* Alinea el texto a la izquierda */
}

.historial-header-mostrar-todas {
  display: flex;
  align-items: center;
  color: #a4a4a4;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto; /* Empuja el botón a la derecha */
}

.historial-header-arrow-icon {
  width: 20px;
  height: 20px;
  color: #aeaeae;
}

.historial-header-back-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #191919;
  padding-right: 0px;
}

.historial-header-back-button:hover {
  color: gray;
}

/* Mantiene el espacio del botón cuando "Mostrar todas" desaparece */
.historial-header-placeholder {
  width: 120px;
  visibility: hidden;
}

/* ESTILOS PARA TABLET Y MOBILE (SIN CAMBIOS) */
@media (max-width: 1024px) {
  .historial-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    padding-left: 18px;
    margin-top: 20px;
    gap: 12px;
  }

  .historial-header-title {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    color: #000000;
    flex-grow: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  .historial-header-mostrar-todas {
    display: flex;
    align-items: center;
    color: #a4a4a4;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
  }

  .historial-header-arrow-icon {
    width: 20px;
    height: 20px;
    color: #aeaeae;
  }

  .historial-header-back-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #191919;
    padding-right: 0px;
  }

  .historial-header-back-button:hover {
    color: gray;
  }

  .historial-header-placeholder {
    width: 120px;
    visibility: hidden;
  }
}
